# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bcf
*.idx
*.ilg
*.ind

# Backup files
*~
*.bak
*.tmp
*.bib.original

# Other files
*.pdfsync
*.synctex
*.run.xml

# .gitignore - pipoca
pipoca-vai-a-escola/book_pipoca.pdf
pipoca-vai-a-escola/booklet_pipoca.pdf
pipoca-vai-a-escola/booklet_pipoca_print_with_crop_marks.pdf
pipoca-vai-a-escola/booklet_pipoca_print.pdf


